[2014-10-17 20:58] zepouet opened #1 "Dockerfile Build error"
The line is wrong

RUN tar -xvzf /home/work/vertx-stack/stack-dist/target/vertx-stack-dist-3.0.0-SNAPSHOT.tar.gz -C /usr/local

You should use

RUN tar -xvzf /home/work/vertx-stack/stack-dist/target/vert.x-3.0.0-SNAPSHOT.tar.gz -C /usr/local

Thanks. Best regards,

[2014-10-18 07:19] #1 closed, assigned to nobody

[2015-03-23 15:35] purplefox opened #4 "foo"

[2015-03-23 16:36] #4 closed

[2015-06-01 11:15] cescoffier opened #7 "Add configuration to push docker images to docker hub"

[2015-06-01 11:21] cescoffier opened #8 "Rename vertx/vertx3-executable image"
It should be named `vertx/vertx3-exec` as it uses this name on docker hub.

[2015-06-01 11:22] #7 closed

[2015-06-01 11:22] #8 closed

[2015-06-02 05:58] cescoffier opened #9 "Improve docker documentation"
Need to be added:

- [x] Launch instruction for JavaScript, Groovy and Ruby
- [x] Logging configuration
- [x] `VERTX_OPTS` and `JVM_OPTS`
- [x] Better classpath handling

[2015-06-02 13:54] cescoffier commented on #9
We need to provide a proper manual.

[2015-06-04 06:22] cescoffier commented on #9
Fixed by PR #10.

[2015-06-04 06:22] #9 closed

[2015-06-04 17:39] cescoffier opened #11 "Move docker examples to vertx/examples"

[2015-06-07 13:28] #11 closed

[2015-06-15 09:57] cescoffier opened #13 "Add redis to full stack"

[2015-06-15 13:19] #13 closed

[2015-06-23 10:10] cescoffier opened #14 "Remove the mysql-psotgres client from the stack"

[2015-06-23 11:36] #14 closed

[2015-07-10 09:52] cescoffier opened #15 "Add missing javassist dependency"
Thymeleaf template engine requires Javassist.

We need to add this dependency again:

[code]

This dependency needs to be added into the web stack. We need an automated example to check the fix.

[2015-07-10 09:54] purplefox commented on #15
We need to be very careful about that as Netty can behave differently if Javassist is on the classpath and requires a specific version.

[2015-07-10 09:59] cescoffier commented on #15
Yes,

Previously we depended on 3.18.1-GA. We removed it when we dropped the mysql/posgres client. The safest would be to reuse the same version.

[2015-07-13 11:36] cescoffier opened #16 "Add package.info and README.md files for NPM packages"
As each distribution should be published on NPM, we need the `package.json` and `readme.md` files in each distribution to be able to publish them on NPM after the next release.

A note about this should also be added to the release process document

[2015-07-15 14:23] #15 closed

[2015-07-17 08:21] #16 closed

[2015-09-04 07:03] purplefox opened #19 "Update scripts to enable vertx-sync"
We should update the vertx scripts so they (optionally) allow vertx-sync to be easily enabled.

This means adding the javaagent as described here https://github.com/vert-x3/vertx-sync/blob/master/README.adoc

Also the debugging options.

[2015-09-04 07:06] cescoffier commented on #19
The user can configure `$JAVA_OPTS` or `$VERTX_OPTS` for this.

[2015-09-04 09:19] purplefox commented on #19
True, but maybe we should make it simpler for them? Adding the javaagent path can be tricky and prone to error as it will have to reference the jar with the correct version in the lib directory.

We could change the script so it checked for a simple environment variable(e.g. ENABLE_SYNC) and if set then the script could add the -javaagent arg with the correct path.

[2015-09-12 07:15] cescoffier opened #20 "Integrate the mysql / postgres driver to the data and full stack"
It should be discussed on the dev mailing list first.

[2015-09-18 12:33] cescoffier commented on #20
It has been decided to not add it to a distribution, as the distribution system is going to be changed in 3.2.0.

[2015-09-18 12:33] #20 closed

[2015-09-28 12:32] #19 closed

[2015-10-12 08:40] cescoffier opened #21 "Provide a way to manage the vert.x stack"
Provide a way to add and remove artifact into the vert.x stack installed locally (or even create a new one).

A list of available artifacts should be provided as a reference (like a catalog), but it should be possible to add custom artifacts.

Removing artifact need to remove not-used dependencies.

It is important that version conflicts are managed.

[2015-11-05 04:05] robertoestivill opened #23 "stack-docker not finding verticle?"
Hi,

I'm experiencing an issue with the example provided in the stack-docker readme.
The issue is that for some reason the vertx-exec image is not able to locate the main verticle.

[code]

I have double check and the package and class name of the verticle is correct.
Moreover, the following command in my localhost works just fine

[code]

`java -jar api-0.1.1-fat.jar`

I'm quite new to Docker tec

[2015-11-05 09:36] cescoffier commented on #23
As you are deploying a fat-jar you don't need this docker image. It would be much simpler with a "pure" java image (see https://github.com/vert-x3/vertx-examples/tree/master/docker-examples/vertx-docker-java-fatjar).

That's said, did you copy the your fat jar in side the /verticles location of your image ? Can you show me your `dockerFile` ?

[2015-11-05 12:48] robertoestivill commented on #23
Thanks for link, I didn't know you guys had an example for fat jars.
Regarding copying the fatjar, I have not. I guess I thought vertx-exec was "ready" to run by passing the right parameters.
Also, I assumed the fatjar would be available inside the container, as the directory is being mounted as volume.

As I mentioned before, I'm quite new to docker, so excuse me if this are assumptions or questi

[2015-11-05 12:49] cescoffier commented on #23
Can you show me the docker run command you used ? If the directory is mounted as a volume it should have worked.

[2015-11-05 12:56] robertoestivill commented on #23
Here is the command.  I added a `tree` of the build directory just so we discard being in an incorrect directory.

[code]

[2015-11-05 13:04] cescoffier commented on #23
I will try it. Because if mounted correctly it should find it.

[2015-11-05 13:10] cescoffier commented on #23
This works for me:

[code]

[2015-11-05 14:22] robertoestivill commented on #23
I tried with different directories and still not working for me. Sounds like it might be a problem with the volume mount and my local installation (osx). Haven't read in detail yet, but looks like i'm stuck on this issue https://github.com/docker/docker/issues/4023

[2015-11-19 15:50] cescoffier commented on #23
Docker issue. Closing.

[2015-11-19 15:50] #23 closed

[2015-11-20 12:21] cescoffier commented on #21
The stack manager has been integrated.
NPM and Docker build updated.

[2015-11-20 12:21] #21 closed

[2015-11-23 09:00] vietj opened #24 "vertx stack resolution should use VERTX_HOME/lib directory when it exists"

[2015-11-23 09:01] cescoffier commented on #24
If the directory exist, the resolution result may be cached to speed up the next resolution

[2015-11-23 09:01] vietj opened #25 "vertx stack cache aether infos"
- snapshot : cached for one day
- info should be cached in $VERTX_HOME/something_that_makes_sense

[2015-11-23 14:54] #24 closed

[2015-11-23 14:55] cescoffier commented on #25
I'm not sure we should cache snapshots. It's probably better to let Aether deal with snapshot caching.

[2015-11-23 15:43] vietj commented on #25
if we don't do it for snapshot, we cannot really test this feature with SNAPSHOT when trying the stack ourselves, right ?

[2015-11-23 15:47] cescoffier commented on #25
I've test using vertx-core 3.1 explicitly to test released artifacts. So test would use this too.
In addition I can build a stack using whatever release artifact from Maven central.

[2015-11-23 15:52] vietj commented on #25
I'm trying the tool and usability and how people are going to use it, howe it goes etc..., we need to have a --cache-snapshot configuration or something like that ?

[2015-11-23 15:52] vietj commented on #25
or as an env variable

[2015-11-24 15:46] #25 closed

[2015-11-25 13:53] cescoffier opened #26 "Add oauth2 module to the stack"

[2015-11-25 14:45] #26 closed

[2015-11-28 09:19] cescoffier opened #27 "stack-docs relies on -docs artifacts which are not packaged by default"
With the last vertx-ext-parent, the -docs artifacts are not packaged by default, but the stack-docs project still relies on them (so right now it uses outdated versions).

[2015-11-28 09:24] cescoffier commented on #27
To get stack-docs built, I've enabled the -docs profile in the TCP event bus bridge.

[2015-11-28 09:56] vietj commented on #27
please see https://github.com/vert-x3/vertx-ext-parent/commit/0b6d0d99dc1d021e926040f8197a28bc2028b162

[2015-11-28 09:56] vietj commented on #27
use vertx-ext-parent-20

[2015-11-28 17:59] cescoffier commented on #27
20 does not exist. Did you mean 19 ?

[2015-11-28 18:31] vietj commented on #27
pick the latest, I'm sure it does the packaging :-)

[2015-11-28 18:33] vietj commented on #27
https://github.com/vert-x3/vertx-ext-parent/blob/master/parent/pom.xml#L155

[2015-11-30 06:58] cescoffier commented on #27
All projects updated.

[2015-11-30 06:58] #27 closed

[2015-12-02 15:57] cescoffier opened #28 "Remove codegen and mvel from stacks"
We should determined who is pulling them, and fix the dependency.

[2015-12-03 09:06] #28 closed

[2015-12-09 15:08] cescoffier opened #29 "Add the jgroups cluster manager to the stack"

[2015-12-09 15:08] cescoffier opened #30 "Add ceylon-lang to the stacks"

[2015-12-09 15:27] #29 closed

[2015-12-09 15:33] #30 closed

[2015-12-11 13:10] cescoffier opened #31 "Add new modules to the dep chain"
Check that everyone is there.

[2015-12-11 13:40] #31 closed

[2015-12-16 12:41] cescoffier opened #32 "Add a stable base dir to the distribution files"
To be compliant with sdkman our distribution should have a base directory. To avoid variability this package should be stable (so not contain the version).

`vertx` sounds a reasonable prefix.

Once the distributions has been updated, Docker, Fabric8, npm, homebrew needs to be updated to point to the new executable files.

[2015-12-16 15:35] cescoffier opened #33 "Add the new sockjs service proxy artifact to the stack"
* Add it to the doc distribution
* Add it to the dependencies
* Add it to the full stack

[2015-12-17 14:16] mguillet opened #34 "Use the Vert.x log wrapper instead of java.util.logging.Logger"
Any reason we are using `java.util.logging.Logger` instead of `io.vertx.core.logging.Logger` ?

I could spot several uses of `java.util.logging.Logger` for instance in `io.vertx.maven.resolver.ResolverImpl`.

This break our nice logs since we're using `SLF4J` instead of `JUL`.

I can easily make the change and a PR if this change to Vert.x logger is accepted.

Thanks!

[2015-12-17 14:44] cescoffier commented on #34
In the Resolve command ? We could change that without any issue.

[2015-12-17 14:47] mguillet commented on #34
Here are all the classes using JUL classes instead of Vert.x ones:
[code]
Is that OK for all of them to change?

[2015-12-17 14:58] cescoffier commented on #34
Yes.

[2015-12-17 15:47] #32 closed

[2015-12-17 16:17] #33 closed

[2015-12-22 07:50] cescoffier opened #36 "Issues in vertx.bat"
Issue: https://github.com/vert-x3/issues/issues/76

Two lines need to be merged.

[2015-12-22 07:51] #36 closed

[2016-01-04 23:16] xcracr opened #37 "May vertx-stack/stack-npm/src/main/npm/client/package.json include sockjs as dependency?"
Hello, may package.json list sockjs-client as a dependency?  Then when installed via `npm install vertx3-eventbus-client` it would install sockjs-client under its local node_modules directory, which is helpful when developing for client javascript using [browserify](http://browserify.org/) or [webpack](https://webpack.github.io/).

[2016-01-05 07:01] cescoffier commented on #37
@pmlopes : what do you think ?

[2016-01-05 08:08] pmlopes commented on #37
I think that is a good idea. We might need to review the examples though...

[2016-01-06 09:57] #34 closed

[2016-01-06 09:58] cescoffier commented on #37
Should it be considered as a breaking change ?

[2016-01-06 10:19] pmlopes commented on #37
i don't think so, i've not tested it but i think that if we add the dependency to the package.json and the already existing projects would also add the dependency npm should be smart and just use one of the dependencies right? In the worst case there will be 2 downloads of the same dependency on the client side which is not a big deal since at runtime only 1 will be used.

[2016-01-07 07:17] cescoffier commented on #37
Ok, I will apply it.

[2016-01-07 07:17] #37 closed

[2016-01-25 08:27] cescoffier opened #39 "Remove ceylon from the min and full stack"
This is a temporary fix, see https://github.com/vert-x3/issues/issues/79.

[2016-01-25 08:27] #39 closed

[2016-01-27 07:16] cescoffier opened #40 "Do not include vertx-lang-ceylon in distributions"
Because of the bug (https://github.com/vert-x3/issues/issues/79) with on-demand compilation, and after discussing with the Ceylon team. We have decided to not includes vertx-lang-ceylon in the distribution. The artifact will be listed but marked as not included. Someone willing to use Ceylon in the distribution, would need to change the boolean value and _resolve_ the stack (`vertx resolve`).

[2016-01-27 07:26] #40 closed

[2016-02-03 12:40] cescoffier opened #41 "Add the mysql / postgres async driver client to the stack"
As technical preview.

[2016-02-03 13:33] #41 closed

[2016-02-13 20:07] eutheria opened #42 "missing wiki links"
I noticed that the wiki pages linked from: http://vertx.io/docs/vertx-auth-jwt/java/

http://vertx.io/docs/apidocs/javax/crypto/Mac.html http://vertx.io/docs/apidocs/java/security/Signature.html

are missing, it was suggested that these could be links to the jdk javadocs.

[2016-02-19 02:59] coding2012 opened #43 "Java version older"
Even though the latest version of Vertx docker image is only about 14 days old, the Java version is quite old. I recommend doing an explicit docker pull java:8 prior to building the Vertx image.

[2016-02-21 15:46] cescoffier commented on #43
Even if we should update to a newer version, using `java:8` introduce variability that can be very hard to understand. The image would depend on "what" java:8 is at the build time. It could be different a few hours later.

[2016-02-21 15:56] #43 closed

[2016-02-22 07:48] cescoffier commented on #42
We should compute the javadoc with links to:

* Java javadoc
* Hazelcast
* Netty
* Jackson

[2016-02-22 08:25] cescoffier opened #44 "Generate javadoc with links"
We should compute the javadoc with links to:

* Java javadoc
* Hazelcast
* Netty
* Jackson

[2016-02-22 08:25] #44 closed

[2016-02-22 18:51] coding2012 commented on #43
Excellent, thank you Clement!

[2016-03-17 16:16] #42 closed

[2016-03-17 16:16] cescoffier commented on #42
Fixed in the vertx-auth project.

[2016-04-23 11:29] cescoffier opened #45 "The Stack Manager should not embed `io.vertx.docgen`"
See https://github.com/vert-x3/issues/issues/116.

[2016-04-24 19:56] aschrijver opened #46 "Use optimized (smaller) base image for stack-docker"
Vert.x is all about lean, mean, performance, and keeping it simple, yet the `java:jre8` base image is 310 MB large.

The size is why I am not using the `docker-stack` right now. I wonder if a more lighter-weight, optimized image can be used instead?

For example I currently use `anapsix/alpine-java:jre8` with Vert.x which only amounts to 122 MB (but there are other candidates as well). Saves a lot

[2016-04-24 20:26] aschrijver commented on #46
(For completeness: https://imagelayers.io/?images=java:8u72-jre,anapsix%2Falpine-java:jre8)

[2016-04-25 05:52] cescoffier commented on #46
I definitely agree. I've started using the alpine based image last week, so far so good... So no problem to switch.

[2016-04-25 06:47] pmlopes commented on #46
I'd recommend to use a image from the official java repo https://hub.docker.com/_/java/ since they are kept up to date by docker themselves.

I've used alpine too and it works fine however for strong encryption you will need oracle jdk i'm afraid.

[2016-04-25 06:48] aschrijver commented on #46
Cool! Thanks.

[2016-04-25 06:58] cescoffier commented on #46
@pmlopes yes for encryption you would need your own image with Oracle. We are not providing these.

[2016-04-25 07:05] aschrijver commented on #46
Yes, the alpine image I use also has Oracle installed. Don't know if there is an official image that has that too.

[2016-04-25 16:21] #45 closed

[2016-04-25 16:21] #46 closed

[2016-08-25 06:53] cescoffier opened #49 "Remove vertx-service-discovery from the base stack"
**this is a breaking change**

The vertx-service-discovery has been mistakenly introduced in the vert.x base stack. It should not, and only be available in the full stack.

[2016-08-25 06:59] cescoffier opened #50 "Update the java image used in the Docker stack"
Docker has decided to mark the _java:*_ images as deprecated (see https://hub.docker.com/_/java/).

[code]

Our images are depending on these deprecated images. But we still have some time. As there are ongoing changes in the Docker containers planned for 3.4.0, I'm going to update the parent image in this version. The planned change are breaking changes anyway (see https://github.com/vert-x3/vert

[2016-08-25 07:01] #49 closed

[2016-08-25 07:06] cescoffier commented on #50
The fix has been applied in https://github.com/vert-x3/vertx-stack/pull/48 that is going to be merged once we start working on 3.4.0

[2016-09-08 13:39] cescoffier opened #52 "boringssl version in stack not aligned with vert.x core"
The version of boringssl used in Vert.x stacks should be the same as the one used in Vert.x core (as it depends on netty)

[2016-09-08 13:39] #52 closed

[2016-10-25 10:05] tsegismont opened #56 "Convergence issue with Scala SDK"
CI fails with:

[code]

[2016-10-25 11:26] vietj commented on #56
is it because of vertx-codetrans ?

[2016-10-25 11:27] vietj commented on #56
because scala has not been added to stack, only codetrans afair

[2016-10-25 13:42] cescoffier commented on #56
Let me check.

This test (very long) checks that we always converge to the same version in all our dependencies. It's more a warning like: "Hey, something has changed, please align the versions".

[2016-10-25 14:16] cescoffier commented on #56
Ok, after some investigations here is what I've captured:

[code]

(I've added the list of artifacts depending to the artifact, I guess it could be nice for debugging).

If I look at vertx-http-service-factory, it requires:
[code]

So codetrans depends on scala. Does it have to be a `compile` (scope) dependency ? Should I detect codetrans and ignore it (cut the graph) ? I don't think we should emb

[2016-10-25 14:17] cescoffier opened #57 "Improve reporting in the stack manager"
When a convergence is found, it would be great to have the list of artifacts having selected the current version of the artifact (under conflict).

[2016-10-25 14:18] cescoffier commented on #56
I've opened another issue to improve the reporting (#57)

[2016-10-25 14:27] vietj commented on #56
we should have an optional / compile / provided dependency indeed

[2016-10-25 14:29] vietj commented on #56
just made it optional=true like the other

[2016-10-25 15:14] cescoffier commented on #56
ok, so once they have been built, it should be back on track.

[2016-10-25 15:15] cescoffier commented on #56
I'm not a scala expert, but I believe we should update the scala version of the async mysql / postgres driver ?

[2016-10-25 18:12] tsegismont commented on #56
I haven't checked, just created the issues after looking at vertx3-ci
mailing list. Codetrans is probably the cause, since there were some
updates in this area recently.

2016-10-25 13:27 GMT+02:00 Julien Viet <notifications@github.com>:

[2016-10-26 11:49] cescoffier commented on #56
Issue fixed in codetrans.

[2016-10-26 11:49] #56 closed

[2016-11-01 18:23] vietj opened #58 "Missing io.vertx:vertx-reactive-streams javadoc"

[2016-11-01 18:23] #58 closed

[2016-11-03 16:02] #57 closed

[2016-11-03 16:02] cescoffier commented on #50
Fixed in #48

[2016-11-03 16:02] #50 closed

[2016-11-08 09:47] tsegismont opened #59 "CI fails consistently due to unresolved param"
[code]

Example:

[code]

[2016-11-08 10:14] cescoffier commented on #59
Will have a look Today.

[2016-11-08 12:48] cescoffier commented on #59
MAkes sense actually, Cloudbees slave does not have docker.

[2016-11-08 12:48] cescoffier commented on #59
The job had `skipDocker` before, it has been removed...

[2016-11-08 12:51] cescoffier commented on #59
The failsafe plugin is not configure at the right place, that's why it's not working on the CI.

Fixing it.

[2016-11-08 12:51] #59 closed

[2016-12-01 13:03] oddeirik opened #61 "Typescript definitions for vertx3-eventbus-client"
I'm currently using [vertx3-eventbus-client](https://www.npmjs.com/package/vertx3-eventbus-client) in a web client application to communicate with a Java application via the EventBus.

The web client is written in Typescript, but there's no definition file for the eventbus client. Currently I've worked around this by simply adding vertx-eventbus.js and sockjs.js as <script> sources in the index fi

[2016-12-01 13:35] pmlopes commented on #61
@oddeirik Could you provide a pull request for it?

[2016-12-01 13:43] oddeirik commented on #61
I'm completely new to Typescript myself, but I could certainly give it a try!

[2016-12-09 19:50] vietj opened #63 "Update TCNative to 1.1.33.Fork24"

[2016-12-09 19:50] #63 closed

[2016-12-15 23:40] thurber opened #64 "vertx3-eventbus-client callback function not called when access is denied"
Hi, thanks for your library, I have enjoyed using it!

I've found the following issue has hampered me in certain use cases, and I think it might be a bug:

When attempting to send a message from a vertx3-eventbus-client to a Vertx EventBus bridge, if the bridge does not allow the message, the callback function passed to the send method is not called. I would expect it to be called with an error. I

[2017-02-08 16:47] tombensve commented on #61
I did the following, but it took me a while to figure it out:

`import EventBus from 'vertx3-eventbus-client';`
`let eventBus = EventBus("http://locahost:8080/eventbus", {});`

I first tries doing `new EventBus(...)`, but that failed! This seems to work. It is trying to access the specified URL at least. I haven't made the server code yet so I haven't fully verified it yet.

Doing a browserify how

[2017-02-08 18:13] tombensve opened #65 "Recent version of sockjs-client does not have an 'onopen' property to set."
I get the following error when calling the EventBus(...):

`Error: (SystemJS) Cannot set property 'onopen' of undefined↵	TypeError: Cannot set property 'onopen' of undefined↵	    at Module.EventBus (http://127.0.0.1:8080/node_modules/vertx3-eventbus-client/vertx-eventbus.js:98:28)`

I edited this since I realised that is is saying "... 'onopen' of undefined"! I have to admit to being a newbie in J

[2017-02-12 09:26] cescoffier commented on #65
@pmlopes any idea ?

[2017-02-12 11:53] tombensve commented on #65
Ooops! Very sorry, my error! And I should put a post-it on my screen or something to remind me that I've filed a bug! I forgot about this. Again sorry.

I have concluded that this is a missinterpretation on my part. I did say that I'm a newbie on JS :-)  I'm however a 26+ year server side developer so I guess that is where my arrogance of assuming this was a bug comes from.

The error is a side-ef

[2017-02-12 11:53] #65 closed

[2017-02-27 12:08] joh-klein opened #66 "Release new version, plz"
The [vertx-eventbus.js](https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/client/vertx-eventbus.js) is a little newer. When are you planning to release a newer version?
Also, the sockjs-client is available in a newer version as well.

[2017-02-27 12:56] cescoffier commented on #66
Hi @joh-klein we should have a release next week (it's an estimation, not a date written somewhere).

[2017-02-28 10:10] joh-klein commented on #66
Since you have the "old" (vertx 2.~) version in the other repo as well, what are the chances of pushing both to npm? I am trying to get rid of bower.

[2017-02-28 12:25] cescoffier commented on #66
The vert.x 3 version is on NPM already.

[2017-02-28 15:20] joh-klein commented on #66
I know,  but I am wondering about the vert.x 2 eventbus js file.

[2017-02-28 15:42] cescoffier commented on #66
@pmlopes WDYT ?

[2017-02-28 16:26] joh-klein commented on #66
It would be great to get it from the official source. I know it is deprecated, but I will have to support some vert.x 2 backends for at least the next year.

[2017-02-28 21:26] pmlopes commented on #66
Maybe you're not aware but the old version is already available on cdnjs is that an option? https://cdnjs.cloudflare.com/ajax/libs/vertx/2.0.0/vertxbus.min.js

[2017-03-06 08:59] joh-klein commented on #66
But I can only [use tarball URLs inside a package.json](https://docs.npmjs.com/files/package.json#urls-as-dependencies) …

[2017-03-06 19:19] pmlopes commented on #66
@joh-klein by using the CDN you don't need to use tar balls. Also if you're using tools such as `gulp` you can use a plugin like: `https://www.npmjs.com/package/gulp-cdnizer` that at release time will fetches the resource from the CDN to your local distribution directory.

[2017-03-27 11:31] axlider opened #67 "EventBus onOpen Pub Subscribe with vertx3-eventbus-client"
Hi,

i try to get data from server by listening to EventBus with SockJsHandler.
But my `onopen ` function is never called.
In the network tab of chrome i can see these connection entries:

info?t=1490613267837	200	xhr	                abstract-xhr.js:128	367 B	19 ms
info?t=1490613267847	(canceled)	xhr	abstract-xhr.js:128	0 B	7.98 s
websocket	                101	websocket	websocket.js:32	0 B	Pending

[2017-03-27 13:21] axlider commented on #67
my fault. forgot to call : `router.accept(httpRequest);`
Everything works fine!

[2017-03-27 13:21] #67 closed

[2017-04-03 21:03] joh-klein commented on #66
@pmlopes I am not sure how to respond to this. Using npm is not the same as linking to a CDN. I put fixed versions of my modules in my package.json. I need the guarantee, that nothing has changed. Also, I need the possibility of letting my apps run offline. There are countless reasons for using npm (and of course for using a CDN). Sure, I can always take your version and put it on my private npm r

[2017-04-04 06:57] pmlopes commented on #66
I understand the reasons behind disconnected apps vs online, that is why I put the gulp plugin here as an option to solve this gap. https://www.npmjs.com/package/gulp-cdnizer

We're currently working on version 3.x and this is our main focus so we would like to stay away from making new 2.x releases. Having this said, we know that the version on npm 3.1.0 is very close to the script used in the 2.

[2017-04-04 12:14] pmlopes commented on #64
Issue moved to [vert-x3/vertx-web #590](https://github.com/vert-x3/vertx-web/issues/590) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-04 12:14] #64 closed

[2017-04-19 12:53] neal-eiger commented on #61
I also am trying to use this, with an angular 4 app.  There is no issue at compile time but at run time I have the above issue:

`import EventBus from 'vertx3-eventbus-client';
let eventBus = new EventBus("http://locahost/eventbus");  // error: d.default is not a constructor
let eventBus = EventBus("http://locahost/eventbus");  // error: d.default is not a function`

Im using webpack atm, and the

[2017-04-19 13:22] pmlopes commented on #61
@neal-eiger can you provide a reproducer?

[2017-04-19 23:17] neal-eiger commented on #61
Hi @pmlopes.  Thanks for getting back.  Im working on an internal project, but maybe tomorrow if I still can't get it I'll make a small mock project to show the failure.  On the other hand do you know of a seed project using webpack, vertx-eventbus-client, and angular 2 or 4 (ie. with Typescript)?

So far I created a typescript version of vertx-eventbus.js, but then SockJS threw the same error, sa

[2017-04-20 09:03] neal-eiger commented on #61
Just to update, I just read this which echoes what's been said in this thread: if you include vertx-eventbus.js script directly on the page it works (as well as declaring the type for typescript), but it doesnt work if you try and import it into the bundle and that's a shame.  Will follow up later.

[2017-04-21 11:48] neal-eiger commented on #61
I forked a little repo and added vertx3-eventbus-client and you can can see the error.  Please clone or fork https://github.com/neal-eiger/angular-webpack, npm i && npm start.  Go to localhost:8080 and look at the console.  You will find this error:

Unhandled Promise rejection: vertx3_eventbus_client_1.EventBus is not a constructor ; Zone: <root> ; Task: Promise.then ; Value: TypeError: vertx3_ev

[2017-04-21 13:12] pmlopes commented on #61
@neal-eiger @tombensve you're importing the module not correctly.

The original module exports a single function, not a object so in order to import it correctly you should do:

[code]

[2017-04-21 13:26] neal-eiger commented on #61
Thought I tried that as I use that import syntax with momentjs, but I guess not, thanks!  It may be worth putting that in your readme though as a number of others seem to have had the same issue.  Have a good weekend and thanks again.

[2017-04-22 12:05] tombensve commented on #61
Interesting! I've been away from my "hobby project" for a while. I'll give this a try. Thanks.

[2017-05-04 19:41] mikeagarza commented on #61
I ran across this TypeScript version of the EventBus the other day:  https://gist.github.com/benorama/93373c3c1c3574732d6cc1b4754aab9f

[2017-05-08 06:54] hcsalis opened #70 "[request] [eventbus-client] bump sockjs-client dependency version"
Current version of sockjs-client dependency (1.0.3) does not include the dist folder, and makes eventbus-client impossible to use directly from npm without a special build process or a CDN [Related issue: sockjs/sockjs-client#265]. Fortunately, maintainer decided to include it starting from version [1.1.2](https://github.com/sockjs/sockjs-client/blob/master/Changelog.md#112) in the npm package. So

[2017-05-19 07:01] oddeirik commented on #61
I added the definitions as a PR to the DefinitelyTyped project, and it has now been merged. So anyone using the EventBus bridge in a Typescript project should now be able to just add @types/vertx3-eventbus-client as a dependency:

`npm install --save @types/vertx3-eventbus-client`
(https://www.npmjs.com/package/@types/vertx3-eventbus-client)

Ideally, I'd like to see "official" typings (or even be

[2017-05-19 07:05] pmlopes commented on #61
I'm not sure if a port to TypeScript would make it better but i believe that we could work on getting the JS code to play better with both typescript type definitions or other typing systems out there such as flow.

This way we could have the same base for browser, server, typescript and ES6+

[2017-05-19 07:23] oddeirik commented on #61
Absolutely, that would be good! I wasn't implying that a TS version would be better, just that this would give us typings for "free".

[2017-06-13 19:34] joshi-gaurav commented on #61
Can [ES6 Version of EventBus](http://www.kalpsnuti.com/eventbus-es6-version/) be of an use?

[2017-07-11 11:19] gavinking opened #72 "vertx-stack.json missing from homebrew installation"
As discussed [here](https://github.com/vert-x3/vertx-lang-ceylon/issues/21#issuecomment-314398835) I installed `vertx` using `brew`, and it was missing the `vertx-stack.json` file.

[2017-07-11 11:26] cescoffier commented on #72
The distrib is downloaded from bintray, so the uploaded artifacts does not contain it

[2017-07-11 15:28] #66 closed

[2017-08-03 12:01] cescoffier commented on #72
My bad, the distrib contains the `vertx-stack.json` file. The homebrew formula needs to be updated to include it:

https://github.com/Homebrew/homebrew-core/blob/master/Formula/vert.x.rb#L12

it should include `vertx-stack.json`.

[2017-08-13 14:31] tombensve commented on #61
I tried the "https://gist.github.com/benorama/93373c3c1c3574732d6cc1b4754aab9f" posted by mikeagarza. This one works perfectly from Typescript, probably due to it being written in Typescript :-)

[2017-10-05 07:36] vietj opened #73 "Stack convergence detailed path"
when a convergence fails we need to have the full path of dependencies instead of just the path leaves to help fixing the convergence issue.

i.e if A -> B -> C(v1) and D -> E -> C(v2)

now we know that A and D are in conflict on C, we should know the transitive path (at least one, there can be several) that leads to the conflict to ease its resolution

[2017-10-05 07:43] vietj opened #74 "Convergence resolution should ignore test scope dependencies"
It seems that test scope dependencies are handled and they should be ignored

[2017-10-05 09:19] vietj opened #75 "Convergence inconsistent resolution"
the resolver seems to inconsistently resolve transitive, dependencies that are both optional and non optional. For instance

- resolving `io.vertx:vertx-stomp:3.1.0` resolves to `io.vertx:vertx-auth-common:3.1.0`
- resolving `io.vertx:vertx-auth-common:3.1.0` resolves to a list that contains `io.vertx:vertx-core:jar:3.1.0`

the `io.vertx:vertx-core:jar:3.1.0` does not appear in the first resolutio

[2017-10-05 13:15] cescoffier commented on #75
I believe this is how Aether works. I will check, but I'm not sure we can do anything (without reimplementing a resolver).

[2018-01-02 13:48] Lakshmihm opened #76 "How to set the timeout for vertx3-eventbus-client"
Hi,

Just wanted to check if there is a way to set the timeout from sender end when we do eventBus.send(..) in node js?
Tried setting "timeout" header, but that didn't help.
There is DeliveryOptions in Java but how to set the timeout in javascript? Any response is appreciated. Thanks

[2018-01-03 13:57] tsegismont commented on #76
I don't believe this is possible currently. Would you mind to open a feature request on the [vertx-web](https://github.com/vert-x3/vertx-web/issues/new) project?

Closing this issue as this is not the right project.

[2018-01-03 13:57] #76 closed

[2018-02-18 21:34] StephenOTT opened #79 "Inconsistence Docs for Logging: Docker and Rest of Docs"
been going through the logging docs and there seems to be confusing inconsistencies between directions around logging for Docker deployments and the rest of the Vertx docs.

As a primary example:
What is the reason for the docker docs to use `logging.properties` as the file: http://vertx.io/docs/vertx-docker/#_logging along with ENV vars, but the rest of the docs all use `vertx-default-jul-logging

[2018-02-18 21:39] StephenOTT opened #80 "Documentation update for VERTX_HOME env variable in Docker Containers"
Docs use `COPY vertx-stack.json ${VERTX_HOME}/vertx-stack.json`, but there does not appear to be explanation of where VERTX_HOME comes from, its location, and the usage.

This is a important aspect for the Stack manager: http://vertx.io/docs/vertx-stack-manager/stack-manager/

as the docs for stack manager, under the http://vertx.io/docs/vertx-stack-manager/stack-manager/#_launching_the_resolution

[2018-02-18 21:51] StephenOTT opened #81 "Docker solution for SLF4J warning at startup ?"
As discussed here:
http://vertx.io/docs/vertx-core/js/#_troubleshooting

When loading the vertx/vertx3 container

something like:

[code]

[code]

The stack manager is being run after the inital startup and thus something like SLF4J-simple is not loaded.

I also see this issue: https://github.com/vert-x3/issues/issues/239
which seems stale at the moment.

Is there a solution to this?  The error on

[2018-02-18 22:02] StephenOTT opened #82 "Docker clustering configuration docs: -cp implementation inconsistency"
Hey

looking at: http://vertx.io/docs/vertx-docker/#_clustering

Trying to understand the reason for generating a dynamic class path in the docs example:

In each of the dockerfile examples in the docs you use:

`CMD ["exec vertx run $VERTICLE_NAME -cp $VERTICLE_HOME/*"]`  where the `-cp` is using `$VERTICLE_HOME/*`. assuming that `*` provides "everything" in $VERTICLE_HOME logic.

Looking at http

[2018-02-22 14:57] StephenOTT opened #83 "Stack Manager: ruby gems support?"
I see in https://github.com/vert-x3/vertx-lang-ruby/blob/master/pom.xml#L323 you are already using the ruby gems maven proxy.  Could/is this support available in the Stack Manager?

The support for the type is already included: https://github.com/vert-x3/vertx-stack/blob/367d36d6ae82dac53b16b6e1c7338ac1fa6bbd92/stack-manager/src/main/java/io/vertx/stack/model/Dependency.java#L57

[2018-02-22 15:06] vietj commented on #83
so you mean to be able to configure the stack manager to use a specific repository ?

[2018-02-22 16:22] StephenOTT commented on #83
So basically being able to use the same pattern as:

[code]
but of course in the json format that stack manager.
from: http://rubygems-proxy.torquebox.org

The Idea being that when using the ruby lang you can download the Gem Dependencies the same way Maven Jar deps are downloaded.

[2018-02-22 21:09] StephenOTT commented on #83
@vietj okay i went about this in a different way.  I was thinking that taking advantage of ruby's bundler would be better.

So i put this together:

Dockerfile:

[code]

Full dockerfile example:

[code]

initial design was based on:
https://spin.atomicobject.com/2013/04/24/bundler-jruby-complete/
https://github.com/jruby/jruby/issues/3186#issuecomment-144786246
https://github.com/jruby/jruby/issue

[2018-02-22 22:55] StephenOTT commented on #83
updated example for simplicity

[code]

Ruby File:

[code]

Gemfile:

[code]

- [ ] add support for deployment tag of bundle install

[2018-02-22 22:57] StephenOTT commented on #83
@vietj if you have some ideas for best approaches for optimizations, that would be great!  happy to do a PR.

[2018-02-23 17:05] StephenOTT commented on #83
Note for future testing:
Use the following as basis for seeing how jruby is resolving the executable gem location

[code]

specifically: ` -Djruby.debug.scriptResolution=true`

[2018-02-23 17:06] StephenOTT commented on #83
When testing for where gems are being installed, use the following

[code]

the `-d` will display the details and therefore print out the install path of the gems.  THis is important for debugging to understand where bundler gets installed vs the gems that come with jruby-complete

[2018-02-23 17:16] StephenOTT commented on #83
Updated Dockerfile with cleaner install:

[code]

Console Output:

[code]

Notable updates:

`RUN BUNDLE_SILENCE_ROOT_WARNING=true java -jar ${VERTX_HOME}/lib/jruby-complete-9.1.13.0.jar -S bundle install --path=${VERTICLE_HOME}/bundle --gemfile=$VERTICLE_HOME/Gemfile`

The env var `BUNDLE_SILENCE_ROOT_WARNING=true` is submitted with bundler commands to prevent the Root warning.

and

After the ru

[2018-02-23 17:20] StephenOTT commented on #83
Can see a working example at:

.rb file: https://github.com/DigitalState/camunda-worker-vertx/blob/feature-ruby-rubygems-stackmanager/worker/verticles/ruby-biz/ruby-biz.rb

gemfile: https://github.com/DigitalState/camunda-worker-vertx/blob/feature-ruby-rubygems-stackmanager/worker/Gemfile

dockerfile: https://github.com/DigitalState/camunda-worker-vertx/blob/feature-ruby-rubygems-stackmanager/work

[2018-02-24 08:12] vietj commented on #83
@StephenOTT do you think it would be possible to move the vertx `.rb` files in gems instead of jars ?

[2018-02-24 08:12] vietj commented on #83
so still requires the jars (for the java code) but rb code would be in gems instead

[2018-02-24 16:46] StephenOTT commented on #83
Not sure what you mean.

[2018-02-25 20:30] vietj commented on #83
to have vertx for (j)ruby fully contained in gems file instead of jar files. not sure it makes sense though.

[2018-02-25 22:42] StephenOTT commented on #83
I don't know enough about jruby to comment on the viability of that.  What's your thinking/reasoning?

At the moment my understanding of the stack is: everything is executed in the jvm. Therefore you need a executable for the jvm.  Jruby-complete offers a compartmentalized jruby executable in the jar.  The addition gems I am downloading are outside the scope of jruby-complete and more inside of th

[2018-02-26 14:15] tsegismont commented on #79
@StephenOTT the `vertx-default-jul-logging.properties` file is just a convenient way to configure JUL when you're able to add something to the classpath. You could have a `logging.properties` file anywhere on the FS and use it together with the `java.util.logging.config.file` sysprop.

In the `vertx-docker` example however, we're talking about applications started with the Vert.x CLI. In this case

[2018-02-26 14:26] tsegismont commented on #80
It's just used in the [Customizing the stack](http://vertx.io/docs/vertx-docker/#_customizing_the_stack).

But yes, the second callout could be updated with a note explaining where the VERTX_HOME env comes from.

[2018-02-26 14:51] tsegismont commented on #81
So you get the warning when you run `vertx resolve`, correct? Do you still get it when the image is ready?

[2018-02-26 14:58] tsegismont commented on #82
I don't believe wildcards in classpath definition works. That said, the solution proposed seems complex to me. A simple `vertx.hazelcast.config` sysprop pointing to the cluster.xml file would do.

[2018-02-26 15:00] StephenOTT commented on #81
Once image is ready it does not appear. Does not appear when building he image and the jars are already cached.

[2018-02-26 15:36] tsegismont commented on #81
Then I guess we can't do much. The problem is known (due to some dependencies forcing slf4j) and tracked in vert-x3/issues#239

[2018-02-26 15:36] #81 closed

[2018-02-26 15:47] StephenOTT commented on #81
k will track in 239

thanks

[2018-02-26 17:01] tsegismont commented on #82
@StephenOTT mm indeed, I wasn't aware of that. Can you confirm @cescoffier ? Why this complex dynamic classpath thing then?

[2018-02-26 17:43] StephenOTT commented on #79
Is there a folder structure documentation of vertx projects?  I dont come from a java dev background.  So looking for where the defaulted folders and use cases are.  I have seen `/conf/` used in a few examples, but no documentation about when it is being used.

[2018-02-27 08:58] tsegismont commented on #79
@StephenOTT `/conf` here is not a project directory but a directory in the CLI installatio

@cescoffier do we have documentation for CLI layout and stack update? I couldn't find it in vertx-core doc

[2018-02-27 10:05] cescoffier commented on #79
@tsegismont I don't think we have this documented. We more or less inherited this from Vert.x 2.

[2018-02-27 10:31] tsegismont commented on #79
@cescoffier so a PR to core doc would be best, correct?

[2018-02-27 10:39] tsegismont commented on #80
No `cluster.xml` is a per-instance configuration file. Shouldn't go to the CLI installation directory.

`VERTX_HOME` is the CLI installation dir so the only file you should update there is the stack configuration.

[2018-02-27 12:27] cescoffier commented on #79
@tsegismont yes.

[2018-02-27 12:31] cescoffier commented on #82
I used "*" without trouble. Can you provide an example? It may depend on the `CMD` command

[2018-02-27 12:34] cescoffier commented on #79
@tsegismont actually, it may be better to document it in the stack manager manual (https://github.com/vert-x3/vertx-stack/blob/master/stack-manager/src/main/java/io/vertx/stack/command/package-info.java). The manual does not provide any details about the structure, I believe it should live there. But at the same time the vert.x core doc contains the doc for the `vertx` cli.

[2018-02-27 16:00] StephenOTT commented on #82
@cescoffier, see the the first post: https://github.com/vert-x3/vertx-stack/issues/82#issue-298122631

The question is related all of the docker examples in vertx/examples having the `/*` in them.  also the docs have the same examples.

[2018-02-27 17:24] StephenOTT commented on #79
@tsegismont @cescoffier so what can go into `/conf`?

`/conf` if a pattern used in other java projects, correct?

[2018-02-27 18:14] StephenOTT commented on #80
Yes. Sorry typo on my side.

[2018-02-27 18:16] StephenOTT commented on #80
@tsegismont what are your thoughts on the ruby gems.  Example: in the gemfile import scenario I raised in the other issues. Do you see that ruby vendor/bundle folder should go in vertx_home or verticle home?

[2018-02-28 13:25] tsegismont commented on #80
@StephenOTT I'm not knowledgeable in this area. Perhaps you could ask on the user forum how Ruby users in the community deal with gem loading.

[2018-02-28 13:25] #80 closed

[2018-02-28 17:50] StephenOTT commented on #83
Additional cleanup for dockerfile to reduce the amount of intermediate containers:

[code]

specific focus on the following section:

[code]

[2018-03-02 04:24] StephenOTT commented on #83
@vietj just following up on your preview comment

[2018-03-02 19:12] StephenOTT commented on #83
Added a PR to vertx examples repo https://github.com/vert-x3/vertx-examples/pull/272

[2018-03-02 19:16] StephenOTT commented on #83
On related notes,

two issues i have noticed:

1. On slower machines (like when developing locally) the startup of a jRuby verticle (especially when its the main verticle being started up through the `vertx run` command, will cause event loop blocking beyond the 200ms limit and throw warnings.

2. The GEM_PATH example usage in the CLI as shown here: http://vertx.io/docs/vertx-core/ruby/#_verticle_

[2018-03-02 19:42] vietj commented on #83
1. yes
2. I don't think so

[2018-03-27 12:02] vietj opened #84 "Add vertx-tcp-eventbus-bridge in various langs/rx"

[2018-03-27 13:10] vietj opened #85 "Add micrometer metrics in the stack"
- various langs + rx
- vertx-stack

[2018-03-27 13:10] vietj commented on #85
cc @jotak

[2018-03-27 18:28] jotak commented on #85
There's PR #77

[2018-03-27 18:51] vietj commented on #85
can you check the PR still work ? in the meantime the documentation part has been changed due to the stack rework

[2018-03-29 07:00] jotak commented on #85
@vietj I cannot verify the build due to many missing dependencies at the moment on 3.6.0-SNAPSHOT : not only micrometer but others like consul, camel-bridge, zookeeper and probably many other.
Is there a staging repo that I should configure?

[2018-03-29 08:44] jotak commented on #85
even with that some are missing (consul , camel-bridge ...)

[2018-03-29 09:21] vietj commented on #85
that's weird

[2018-03-29 10:28] marcinczeczko opened #86 "Resolve command logback logging problem"
I just started playing with stack manager `resolve` command. Apparently, there is some issue with the logger used by the stack manager that throws following messages on console:
[code]
What I did is:
- Used vertx-cli-starter project
- Added slf4j-api, logback-classic, logback-core jars to lib/ and to the vertx-stack.json as dependencies
- To the java exec command I added `-Dvertx.logger-delegate-f

[2018-03-30 15:54] marcinczeczko commented on #86
Looks like the slf4j is unnecessarily shaded in stack-manager.jar and causes the `Failed to load class "org.slf4j.impl.StaticLoggerBinder"` as it does it in the bundled jar once again - because shaded to different package `shaded/org/slf4j`.

I did the experiment and
- I removed the org.slf4j shading in here https://github.com/vert-x3/vertx-stack/blob/master/stack-manager/pom.xml#L269
- Excluded o

[2018-03-30 16:05] vietj commented on #86
I don't think it's really possible, we shaded it to avoid interference with the classpath of vertx

[2018-10-08 17:37] SanthoshKumarKatta commented on #61
Hi,

eb.send always getting null. The connection was established and Service returned one JSON object.

var eb = new EventBus('http://localhost:40400/test');
eb.onopen = function () {
console.log('eb.onopen start.');
eb.send('MY_SERVICE',OBJ, function (reply) {
console.log("receive message: " + JSON.stringify(reply));  // This is getting null always//
});

I'm using - Angular (vertx3-eventbus-clie

[2018-10-08 17:41] SanthoshKumarKatta opened #88 "response was null on eb.send()"
Hi,

eb.send always getting null. The connection was established and Service returned one JSON object.

var eb = new EventBus('http://localhost:40400/test');
eb.onopen = function () {
console.log('eb.onopen start.');
eb.send('MY_SERVICE',OBJ, function (reply) {
console.log("receive message: " + JSON.stringify(reply));
});

I'm using - Angular (vertx3-eventbus-client) and Java Vertx. Please help me

[2018-10-08 17:50] pmlopes commented on #61
@SanthoshKumarKatta your callback should follow the node style:

[code]

[2018-10-08 19:13] #88 closed

[2018-10-31 15:06] Mediaus commented on #61
Can anyone suggest on writing Observables in Angular? Tried many ways to do this and failing. I'm having a very hard time to do this.

Thanks in advance!

Here is my Service.

export class Login {

    res: any = {};
    login(user: any): Observable<any>{
        var eb = new EventBus('http://localhost:40400/test');
        eb.enableReconnect(true);
        eb.onopen = function () {
         };

[2018-10-31 15:07] SanthoshKumarKatta commented on #61
Can anyone suggest on writing Observables using EventBus in Angular? Tried many ways to do this and failing. I'm having a very hard time to do this.

Thanks in advance!

Here is my Service.

export class Login {

res: any = {};
login(user: any): Observable<any>{
    var eb = new EventBus('http://localhost:40400/test');
    eb.enableReconnect(true);
    eb.onopen = function () {
     };
    eb.enab

[2018-10-31 15:08] SanthoshKumarKatta opened #89 "Need help in writing Vertx3-EventBus, Angular and Observable"
Can anyone suggest on writing Observables using EventBus in Angular? Tried many ways to do this and failing. I'm having a very hard time to do this.

Thanks in advance!

Here is my Service.

export class Login {

res: any = {};
login(user: any): Observable<any>{
    var eb = new EventBus('http://localhost:40400/test');
    eb.enableReconnect(true);
    eb.onopen = function () {
     };
    eb.enab

[2018-11-03 22:32] #89 closed

[2018-11-05 08:39] vietj commented on #85
@jotak I think we are actually done with this task :-)

[2018-11-05 08:41] #85 closed

[2018-11-28 12:25] vietj opened #91 "Transitive optional dependencies resolution issue"
It seems that optional=true dependencies that are transitively added force the resolution of the optional dependencies, e.g

`vertx-junit5 -> vertx-rx-java2 -> vertx-micrometer-metrics (optional=true)`

resolves `vertx-micrometer-metrics` jar

It can be reproduced by adding `vertx-junit5` in the full stack json file and call resolve.

[2018-11-30 08:47] cescoffier commented on #91
I will have a look. Thanks for the reproducer!

[2018-12-05 09:15] jponge opened #92 "Publish stack-depchain snapshots"
Many projects rely on `stack-depchain` to simplify their Maven dependencies management.

This is the case of the Vert.x guide for Java developers and many projects around, and the lack of snapshot builds for 4.0.0 is an issue as it breaks the builds, and thus prevents testing against `4.0.0-SNAPSHOT`.

[2018-12-05 09:31] jponge commented on #92
You are right, this is yet another problem with my local Maven config I guess 🤦‍♂️

https://travis-ci.org/vert-x3/vertx-guide-for-java-devs/builds/463745078

[2018-12-05 09:31] #92 closed

[2018-12-06 08:18] cescoffier commented on #91
Ok, much more tricky than expected. We would need a "graph based resolver" and not the once we are using (tree-based). Maven has one, but right now we depend on Aether.

One solution would be to do the dependency resolution as a maven plugin and not trying to mimic Maven behavior.

anyway, this is going to be a big change, and won't be do-able before 4.0

[2019-05-23 07:21] cranphin opened #96 "Possible to build a raspberry pi version?"
Hi!

It would be great if there was an image for the Raspberry Pi architecture on docker hub too, is it possible to do that?

I'm not sure what would be involved in that, I think the openjdk base image is already available for ARM.

Thanks for your attention! :)

[2019-05-23 10:29] pmlopes commented on #96
If you already a base image with java you can just copy your fat-jars into a new layer and it should run. I can confirm that without docker, just a RPi2 and RPi3 using the available jdk package I can run vert.x applications.

[2019-06-08 16:40] cranphin commented on #96
Hi!

The downside of a fatjar is that it's a lot more data to deploy each time on a resource contrained device :)

But I looked at your dockerfiles and can build my own locally now: https://github.com/cranphin/vertx3-alpine-docker (on the rpi), which is easy enough and solves my issue :)

Soon it should be 'easy' to build multipe arch images from any platform too: https://engineering.docker.com/20

[2019-06-08 16:47] cranphin commented on #96
Actually, since this is Java, a trick like this would also work: https://stackoverflow.com/questions/54051697/how-to-build-docker-container-image-for-arm32-architecture-from-windows-10-os :)

[2019-06-08 19:39] #96 closed

[2019-07-26 09:42] auryn31 commented on #23
I have the same error, but with building the fat jar in the container o.O

[2019-12-18 11:00] pmlopes commented on #61
type definitions are available on `npm install --save @types/vertx3-eventbus-client`

[2019-12-18 11:00] #61 closed

[2020-01-22 14:03] vietj opened #100 "Stack manager uses invalid Maven repository"
Up to Vert.x 3.8.4

The stack manager uses a decommissioned Maven repository `https://central.maven.org/maven2/` and instead it should use `https://repo1.maven.org/maven2/`. This repository won't resolve any artifact.

[2020-01-22 14:03] #100 closed

[2020-04-16 13:26] vietj opened #105 "Remove JavaScript and Ruby from stack building"

[2020-04-16 13:27] #105 closed

[2020-07-30 16:46] Barbiero opened #112 "Can't "npm install vertx3-full""
### Version

latest (3.9.2)

### Context

I tried to "npm install" the vertx package, but after fetching the package from NPM it just stops and won't ever complete. Other packages(such as react) install correctly. It feels like npm entered some sort of infinite loop.

See detailed log:
[code]
(after this point, the cli just stops and I need to interrupt it to leave)

### Steps to reproduce

Simply

[2020-09-23 09:57] slinkydeveloper opened #113 "Develop an opt-in GH action to perform checks with the stack"
#### Describe the feature

Add a GH feature that on every pull request including a dependency bump, performs the check with the stack for the dependency conflicts.

#### Use cases

Every time we have a dependency bump with an external dep, we should perform a check with the stack to see if there are any conflicts. This is a time consuming operation we perform manually today. Automating can at leas

[2020-10-06 07:32] pmlopes commented on #84
This is already the case.

[2020-10-06 07:32] #84 closed

[2020-11-02 17:44] vietj opened #118 "Remove service factories from full distribution"
Those components are kept in Vert.x 4 for backward compat but are not advocated to be used.

[2020-11-04 10:37] vietj opened #119 "Distrib smoke tests"
In `vertx-stack-manager` we should have a few smoke tests for the vertx distribution, i.e running `vertx` as a process and doing a few basic checks. The goal is to ensure that distributions behave correctly, specially with respect to logging, we should not see extra logging from SLF4J.

## Vertx version

[code]

should print only the current version (can be parsed using a regex) and nothing else.

[2021-02-16 17:27] tsegismont opened #120 "FlowableHelper missing from API docs"
`FlowableHelper` and some other classes are missing from the API docs.

These classes are now located in `*-gen` projects, which sources are not imported when building the API docs.

[2021-02-16 17:27] #120 closed

[2021-07-01 11:13] #83 closed

[2021-12-20 13:00] pmlopes opened #128 "CVE-2021-45105"
Fixed by: https://github.com/vert-x3/vertx-stack/commit/871630b77d9cd3d4066f25495e460152e25e5ab8

[2021-12-20 13:00] #128 closed

[2022-05-25 16:50] #112 closed